<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p>{{message}}</p>

  {{#if back}}
  <a href="{{back}}">Go back</a>
  {{/if}}
</body>
</html>
