<!DOCTYPE html>
<html>
<head>
    <title>Saloon Check In</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> nav user=user }}

    <div class="content-box">
        <h1>Check In at the Saloon</h1>
        
        <form method="POST" action="/login">
            <p>
                <label for="username">Badge Number:</label><br>
                <input type="text" id="username" name="username" required>
            </p>
            
            <p>
                <label for="password">Lockbox Code:</label><br>
                <input type="password" id="password" name="password" required>
            </p>
            
            <p>
                <button type="submit">Check In</button>
                <a href="/">Cancel</a>
            </p>
        </form>
        
        {{#if error}}
        <p style="color: red;">{{error}}</p>
        {{/if}}

        <p><a href="/register">Havn't registered at the Ledger? Resgister here.</a></p>
        <p><a href="/">← Back to Home</a></p>
    </div>
    {{> footer }}
</body>
</html>