<footer>
    <hr>
    <p>
        Visit the Repo: 
        <a href="https://github.com/alegomonkey/WebserverFinal" target="_blank">Github Webserver Final</a>
    </p>

    <p>
        By: Johnny Sylvain, 2025
    </p>
</footer>
