<nav>
    <a href="/">Home</a> |

    {{#if user.isLoggedIn}}
        <span>Welcome, {{user.name}}!</span> |
        <a href="/profile">Wanted Poster</a> |
        <a href="/chat">Town Square</a> |
        <a href="/comment">Town Gossip</a> |
        <a href="/comment/new">New Gossip</a> |
        <form method="POST" action="/logout" style="display:inline;">
            <button type="submit">Hit the Trail</button>
        </form>
    {{else}}
        <a href="/register">Sign the Ledger</a> |
        <a href="/login">Check In at the Saloon</a>
    {{/if}}
</nav>
<hr>
